.content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #B7B7A4;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main {
    text-align: center;
}
section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #A5A58D;
}
body {
    background-color: #EDDCD2;
}
a:hover {
    background-color: #EDDCD2;
}
.book {
    background-color: #A5A58D;
    color: white;
    text-decoration: none;
}
.book:hover {
    background-color: #B7B7A4;
    color: white;
}
.join {
    background-color: #A5A58D;
    color: white;
    text-decoration: none;
}
.join:hover {
    background-color: #B7B7A4;
    color: white;
}
.msg {
    background-color: white;
}
footer {
    background-color: #B7B7A4;
    color: white;
}
footer h3 {
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #A5A58D;
    text-decoration: underline;
}
h3 {
    color: white;
}
.msg p {
    color: black;
}
.msg h2 {
    color: #B7B7A4
}
h4 {
    color: #B7B7A4;
}
.home-title {
    color: #B7B7A4;
}
#hero-img {
    width: 100%
}
.icon {
    width: 80px;
}