nav {
    flex-direction: column;
    background-color: #2a213b;
    font-family: "Bebas Neue", cursive;
}
nav a {
    padding: 15px;
    text-align: center;
    color: #e6a33f;
}
nav a:hover {
    color: #ffbd59;
}
a:hover {
    background-color: #1a112b;
}
body {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background-color: lightgray;
}
.left_section{
    text-align: left;
    padding-top: 10px;
}
#us {
    float: right;
    max-width: 150px;
    height: auto;
    padding-left: 10px;;
}
.logo {
    max-width: 100px;
    height: auto;
}
.images {
    max-width: 300px;
    height: auto;
}
.checked {
    color: orange;
}
footer {
    flex-direction: column;
    margin-top: 25px;
    background-color: #2a213b;
    color: #e6a33f;
    padding: 25px 50px;
    margin: 200px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #e6a33f;
}
footer h2 {
    color: #ffbd59;
}
footer a:hover {
    color: #e6a33f;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
h3 {
    font-family: "Bebas Neue", cursive;
}
p {
    font-family: "Oxygen", sans-serif;
}
.video {
    float: right;
}
#pagetwo {
    padding-top: 100px;
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#news {
    max-width: 300px;
    height: auto;
    padding-bottom: 50px;
}