body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 12em;
    letter-spacing: 15px;
    width: 100%;
    grid-row: 1;
    grid-column: 1/3;
    z-index: 1;
    
}

h2 {
    color: darkred;
    grid-column: 2/3;
    grid-row: 1/-1;
    z-index: 1;
    margin-top: 500px;
    text-align: center;
    font-size: 80px;
    letter-spacing: 15px;    
}

img {
    height: 400px;
    width: 400px;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
}

section {
    background: darkgrey;
    grid-row: 1/-1;
    grid-column: 2/3;
}